:root {
    --font-body: "Roboto", system-ui, -apple-system, "Segoe UI", Arial, sans-serif;
    --font-heading: "Raleway", "Roboto", Arial, sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 3.75;
    letter-spacing: 0.02em;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.167;
    padding: 5px 5px;
    text-decoration: none;
}

.link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration: none;
}

div {
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
    position: static;
    top: 72px;
}

.site-nav {
    background-color: #E7E9FC;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style: none;
    display: flex;
}

header .link:hover {
    color: #404BBF;
}

h1 {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    background-color: #2E2F42;
    letter-spacing: 0.02em;
    line-height: 1.071;
}

.bttn {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    color: #FFFFFF;

}

.bttn:hover {
    background-color: #404BBF;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #404BBF;
}

.contacts .link:hover,
.contacts .link:focus {
    color: #404BBF;
}

ul {
    list-style-type: none;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
}

.features {
    width: 1128px;
    height: 104px;
    top: 792px;
    left: 156px;
}

.team-section {
    width: 1440px;
    height: 732px;
    top: 1016px;
    background-color: #F4F4FD;
}

.portfolio{
    width: 1128px;
    height: 1000px;
    top: 1868px;
    left: 156px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #E7E9FC;
}
.row1{
    width: 1128px;
    height: 420px;
    top: 1980px;
    left: 156px;
}
.row2{
    width: 1128px;
    height: 420px;
    top: 2448px;
    left: 156px; 
}

footer {
    background-color: #2E2F42;
    top: 2988px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px; 
    height: 72px; 
    top: 3128px; 
    left: 156px;
}